li{
    display: inline;
    float:left
    

}
a{
    display: block;
    padding-right: 80px;
    position: absolute;
    padding-left: 100px;
    background-color: #ddd;
    width: 70px;
}

.container{
    width: 50px;
    margin: 0%;
}
h3{align-items: center;
}